
@{
    ViewBag.Title = "FilmedInEgypt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    UnitOfWork ctx = new UnitOfWork();
    var _filmed = new List<Filmed>();
    bool en = true;

    if (Request.Cookies["Language"] != null)
    {
        en = (Request.Cookies["Language"].Value.ToString() == "en") ? true : false;

    }
    if (en == true)
    {
        _filmed = ctx.FilmedManager.GetAll().Where(s => s.Status == EntityStatus.Approval && s.TitleEnglish != null).OrderByDescending(s => s.Order).ToList();

    }
    else
    {
        _filmed = ctx.FilmedManager.GetAll().Where(s => s.Status == EntityStatus.Approval && s.TitleArabic != null).OrderByDescending(s => s.Order).ToList();

    }
}
@section metatags{
    <meta name="keywords" id="metaKeyword" content="empcnews, news, empc, " />
    <meta name="description" id="metaDesc" content="Non-stop news coverage of the most important local and international events" />
    <link rel="canonical" id="canonicalUrl" href="https://www.empcnews.com" />
}
<!-- Page Tile -->
<div class="PageSectionTitle" style="background-image: url('/assets_New_Puplic/img/NewImg/Location/asset-21.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="gen-breadcrumb-title">
                        <h1>
                            @Resources.Global.FilmedinEgypt
                        </h1>
                    </div>
                    <div class="gen-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/Home"><i class="fas fa-home mr-2"></i>@Resources.Global.Home</a>
                            </li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->


<div class="NewsandPress">
    <div class="container">
        <div class="NewPresContet">
            <div class="row">


                @foreach (var film in _filmed)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="NewPresItem">
                            <div class="uperSecPres">
                                <div class="images">
                                    <div class="BGImages" style="background-image: url(@film.MainImage)"></div>
                                </div>
                                @*<div class="DatePrss">
                                    <span>03 <br> Jun</span>
                                </div>*@
                            </div>
                            <div class="lovwerSec">
                                @if (en)
                                {
                                    <div class="TitlePress">
                                        <h2>@film.TitleEnglish</h2>
                                    </div>
                                }
                                else
                                {
                                    <div class="TitlePress">
                                        <h2>@film.TitleArabic</h2>
                                    </div>
                                }

                                <div class="ReadMoreLink">
                                    <a href="/Home/FilmedInEgyptDetails/@film.Id">@Resources.Global.ReadMore </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }






                @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="NewPresItem">
                <div class="uperSecPres">
                    <div class="images">
                        <div class="BGImages" style="background-image: url(/assets_New_Puplic/img/NewImg/f18c.jpeg)"></div>
                    </div>
                    <div class="DatePrss">
                        <span>03 <br> Jun</span>
                    </div>
                </div>
                <div class="lovwerSec">
                    <div class="TitlePress">
                        <h2>2021’s highest grossing US independent film - HITMAN'S WIFE BODYGUARD</h2>
                    </div>
                    <div class="Discripton">
                        <p>Younger audiences returned to North American cinemas in 2021 but independent, international and da...</p>
                    </div>
                    <div class="ReadMoreLink">
                        <a href="/Home/FilmedInEgyptDetails">Read More <span><i class="fas fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>*@

            </div>

            <div class="PagePaginationItems">
                <div class="gen-pagination">
                    <nav aria-label="Page navigation">
                        <ul class="page-numbers">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="">2</a></li>
                            <li><a class="page-numbers" href="">3</a></li>
                            <li>
                                <a class="next page-numbers" href="">Next page</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

